.size-14 {
  font-size: 14px
}

.size-16 {
  font-size: 16px !important;
}

.size-28 {
  font-size: 28px
}

.size-32 {
  font-size: 32px
}

.size-56 {
  font-size: 56px
}

.img-circle {
  border-radius: 50%;
}
